* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #D8D2C2;
    color: #B17457;
}

nav {
    background-color: #4A4947;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;    
}

.logo {
    text-transform: uppercase;
    letter-spacing: 4px;
}

a {
    color: #D8D2C2;
    text-decoration: none;
    transition: 0.4s;
}

a:hover {
    color: #B17457;
    opacity: 0.7;
}

ul {
    display: flex;
    list-style: none;
    gap: 50px;
    letter-spacing: 2px;
}

img {
    width: 200px;
    border-radius: 10px;
}

/* main {
    background-image: url("assets/background\ nike.jpg");
    background-position: center;
    background-size: cover;
    height: 96vw;
} */
