footer {
    width: calc(100vw - 200px);
    height: 22px;
    background-color: yellow;
    position: fixed;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 490px) {
    footer {
        width: 100vw;
    }
    
}