@import url(reset.css);

.logo {
    display: flex;
    justify-content: start;
}

.home {
    display: flex;
    justify-content: center;
}

.header {
    color: gray;

}

ul {
    display: flex;
    gap: 50px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}